.bg-blue {
  width: 500px;
  height: 500px;
  font-family: sans-serif;
}

.card-4,
.hover-shadow:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
}

.container,
.panel {
  padding: 0.01em 16px;
}
.panel {
  margin-top: 16px;
  margin-bottom: 16px;
}

.blue1,
.hover-blue:hover {
  color: #fff !important;
  background-color: #2196f3 !important;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.blue,
.hover-blue:hover {
  color: #fff !important;
  background-color: #2196f3 !important;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  counter-reset: step;
}
.nav li::before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ddd;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: white;
}
.nav-link:focus,
.nav-link:hover {
  text-decoration: none;
}
.nav-link.disabled {
  color: #6c757d;
}
.nav-tabs {
  border-bottom: 1px solid #dee2e6;
}
.nav-tabs .nav-item {
  margin-bottom: -1px;
}
.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: #e9ecef #e9ecef #dee2e6;
}
.nav-tabs .nav-link.disabled {
  color: #6c757d;
  background-color: transparent;
  border-color: transparent;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}
.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.nav-pills .nav-link {
  border-radius: 0.25rem;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #007bff;
}
.nav-fill .nav-item {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: center;
}
.nav-justified {
  counter-reset: step;
}
.nav-justified .nav-item {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: center;
}
.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}
.navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.navbar > .container,
.navbar > .container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}
.navbar-brand:focus,
.navbar-brand:hover {
  text-decoration: none;
}
.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}
.navbar-nav .dropdown-menu {
  position: static;
  float: none;
}

.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}

.py-3 {
  padding-top: 1rem !important;
}
.pr-3,
.px-3 {
  padding-right: 1rem !important;
}
.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}

.container2 {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.darker {
  border-color: #ccc;
  background-color: #2196f3;
}

.container2::after {
  content: "";
  clear: both;
  display: table;
}

.container2 img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container2 img.right {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}

.right-text {
  float: right;
}
.row {
  display: grid;
}

.item1 {
  padding: 5px;
  border-bottom: 1px solid black;
  color: #2196f3;
}
.item2 {
  padding: 5px;
  color: green;
  text-align: center;
}

.img-chat {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 50%;
  padding: 20px;
  margin: 50px 0;
}

.col-img {
  display: flex;
}

.radio {
  border: 2px solid #dedede;
  background-color: rgb(139, 190, 139);
  border-radius: 10px;
  padding: 20px;
  width: 20px;
  margin-left: 100px;
  text-align: center;
  color: white;
}
.radio2 {
  border: 2px solid #24c551;
  border-radius: 10px;
  padding: 20px;
  width: 20px;
  text-align: center;
}

.radio-dis {
  display: flex;
}
.like-dislike {
  display: flex;
  margin-left: 50px;
}

.img-right {
  margin-left: 200px;
}

.card-half {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  width: 50%;
  text-align: center;
  padding: 10px;
  margin: 10px 5px;
}

.card-password {
  border: 2px solid #dedede;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0px;
  width: 95%;
}

.card-oke {
  border: 1px solid #dedede;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 5px;
}

.btn {
  background-color: #24c551;
  width: 100px;
  height: 50px;
  color: white;
  border: 1px solid #dedede;
  border-radius: 5px;
}

.card-review {
  display: inline;
}

.grey {
  color: gray;
}

.btn-blue {
  width: 150px;
  height: 50px;
  color: #2740be;
  border: 1px solid #2740be;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}
.btn-green {
  width: 150px;
  height: 50px;
  border: 1px solid ;
  background-color: #24c551;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 5px;
}

